img{
    max-width: 100%;
    height: auto;
}
.thum{
    margin-right: -15px;
}

.thum a{
    float: left;
    width: 25%; 
    padding-right: 15px;
    box-sizing: border-box;     
}

.thum img{
    display: block;
    transition: all .2s ease-in-out;
}

.thum:hover img {
    opacity: .6;
    transform: scale(.92);
}

.thum img:hover{
    opacity: 1;
    transform: scale(1) rotate(2deg);
    box-shadow: 0 0 7px rgba(0, 0, 0,.5);
}
a{
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}